<h1 mat-dialog-title>Create category</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput tabindex="1" placeholder="Title" [(ngModel)]="newCategory.title">
  </mat-form-field>
  <mat-form-field>
    <input matInput tabindex="2" placeholder="Description" [(ngModel)]="newCategory.description">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="newCategory" tabindex="3">Create</button>
  <button mat-button (click)="close()" tabindex="-1">Cancel</button>
</div>
