ac-image {
  display: flex;
  flex: 1;
}

ac-image-create-view {
  display: flex;
  flex: 1;
  padding: 10px;

  .ac-create-image {
    display: flex;
    flex: 2 100%;
    flex-direction: row;

    .ac-card {
      height: 100%;
      flex: 1;

      .ac-card-content {
        justify-content: center;
        text-align: center;
      }
    }

    .category-btn-list {
      display: flex;
      flex: 4 auto;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      .category-btn {
        display: flex;
        text-align: center;
        margin: 2px;
        padding: 10px;
        flex: 1;
        min-width: 150px;
        border: 1px solid #000;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-color: lighten($lightBackground, 5%);

        &:hover {
          cursor: pointer;
          background-color: darken($lightBackground, 5%);
        }
      }
    }
  }
}

ac-image-view {
  display: flex;
  flex: 1;
  flex-direction: row;
  overflow: hidden;

  .image-container {
    display: flex;
    flex: 1 auto;
    justify-content: center;
    align-items: center;

    img {
      border: 1px solid #000;
      max-width: 100%;
      max-height: 100%;
    }
  }

  .metadata-container {
    display: flex;
    flex: 0 320px;
    margin-right: -280px;
    background: $lightBackground;
    border: 1px solid #000;
    padding: 10px;
    padding-left: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
    flex-direction: column;
    transition: margin-right 250ms ease-in-out;

    &.open {
      margin-right: 0px;
    }
  }

  .toggle-metadata {
    margin-left: -32px;
    font-size: 28px;
  }
}
