ac-library {
  display: flex;
  flex: 1 auto;
  flex-direction: column;
  padding: 10px;

  .category-selection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0 0 125px;
    justify-content: space-between;
    overflow-y: auto;
  }

  .tag-selection {
    display: flex;
    flex: 0 0 75px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: auto;
  }

  .library-container {
    display: flex;
    flex: 1 auto;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    overflow-y: auto;
    max-width: 100%;
    transform: translate3d(0,0,0);
  }

  .category-btn {
    min-width: 150px;
    border: 1px solid #000;
    background: $lightBackground;
    margin: 5px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    &.selected {
      border: 1px solid $color;
    }
  }

  .tag-btn {
    border: 1px solid #000;
    background: $lightBackground;
    margin: 5px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    &.selected {
      border: 1px solid $color;
    }
  }

  .asset {
    display: flex;
    flex-direction: column;
    width: calc(20% - 10px);
    margin: 5px;
    padding: 4px;
    background: $lightBackground;
    border: 1px solid #000;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 1);

    img {
      max-width: 100%;
      border: 1px solid #000;
    }
  }
}
