<div class="panel collection-panel">
  <h4>Collection Listing</h4>

  <div class="well collection-well">
    <table class="collection-table">
      <thead>
        <tr>
          <th>Collection</th>
          <th>Images</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let collection of collections">
          <td (click)="gotoCollection(collection)">{{ collection.title }}</td>
          <td>{{ collection.assets.length }}</td>
          <td>
            <button class="btn" (click)="editCollection(collection)"><i class="material-icons">edit</i></button>
            <button class="btn btn-warning" (click)="deleteCollection(collection)"><i class="material-icons">delete</i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="panel sub-panel">
    <span class="panel-header">Create collection</span>
    <form class="create-collection" (ngSubmit)="createCollection()">
      <input type="text" placeholder="Collection Title" [(ngModel)]="collection.title" name="collectionTitle" id="collectionTitle">
      <div *ngIf="!editMode">
        <button class="btn">Create New Collection</button>
      </div>
      <div *ngIf="editMode">
        <button class="btn btn-warning" (click)="cancelEdit()">Cancel</button>
        <button class="btn" (click)="updateCollection(collection)">Update Collection</button>
      </div>
    </form>
  </div>
</div>
