.add-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.btn {
  font-family: fontinSans;
  border: 1px solid #000;
  border-top-color: lighten($lightBackground, 5%);
  border-left-color: lighten($lightBackground, 5%);
  background: $lightBackground;
  color: $color;
  padding: 6px 10px;
  margin: 4px;
}
