<div class="toast-container" *ngIf="notification">
  <div class="toast" [class.active]="show" *ngIf="notification.type == 0">
    <div class="toast-icon">
      <i class="fa fa-check-circle"></i>
    </div>
    <div class="toast-content">
      <div class="toast-header">
        <strong>{{ notification.title }}</strong>
        <i class="fa fa-times" (click)="closeToast()"></i>
      </div>
      <div class="toast-message">
        {{ notification.message }}
      </div>
    </div>
  </div>

  <div class="toast" [class.active]="show" *ngIf="notification.type == 1">
    <div class="toast-icon">
      <i class="fa fa-info-circle"></i>
    </div>
    <div class="toast-content">
      <div class="toast-header">
        <strong>{{ notification.title }}</strong>
        <i class="fa fa-times" (click)="closeToast()"></i>
      </div>
      <div class="toast-message">
        {{ notification.message }}
      </div>
    </div>
  </div>

  <div class="toast" [class.active]="show" *ngIf="notification.type == 2">
    <div class="toast-icon">
      <i class="fa fa-exclamation-triangle"></i>
    </div>
    <div class="toast-content">
      <div class="toast-header">
        <strong>{{ notification.title }}</strong>
        <i class="fa fa-times" (click)="closeToast()"></i>
      </div>
      <div class="toast-message">
        {{ notification.message }}
      </div>
    </div>
  </div>

  <div class="toast" [class.active]="show" *ngIf="notification.type == 3">
    <div class="toast-icon">
      <i class="fa fa-spinner fa-spin"></i>
    </div>
    <div class="toast-content">
      <div class="toast-header">
        <strong>{{ notification.title }}</strong>
        <small>{{ value }} / {{ maxValue }}</small>
      </div>
      <progress-bar [maxValue]="maxValue" [value]="value"></progress-bar>
    </div>
  </div>
</div>
