<div class="image-container">
  <img [src]="sanitize(asset.url)" [class.monochrome]="monochrome" [class.flip]="flipHorizontal">
</div>

<div class="metadata-container" [class.open]="showMetadata">
  <div class="options-column">
    <div class="toggle-metadata" (click)="toggleMetadata()">
      <i class="fa" [class.fa-chevron-left]="!showMetadata" [class.fa-chevron-right]="showMetadata"></i>
    </div>
    <div class="options" [class.active]="flipHorizontal" (click)="toggleFlipHorizontal()">
      <i class="material-icons">flip</i>
    </div>
    <div class="options" [class.active]="monochrome" (click)="toggleMonochrome()">
      <i class="material-icons">filter_b_and_w</i>
    </div>
  </div>

  <div class="metadata-content">
    <h4>Category</h4>
    <div class="well metadata-category-well">
      <div class="tag" (click)="gotoCategory(category)">{{ category.title }}</div>
    </div>

    <h4>Tags</h4>
    <div class="well metadata-tags-well">
      <div class="tag" *ngFor="let tag of selectedTags">{{ tag.title }}</div>
    </div>

    <h4>Collections</h4>
    <div class="well metadata-collections-well">

    </div>

    <h4>Add to Collection</h4>
    <div class="metadata-collection">
      <select>
        <option>Collection 1</option>
        <option>Cat memes</option>
        <option>Kewl stuff</option>
        <option>Collection 1</option>
        <option>Cat memes</option>
        <option>Kewl stuff</option>
        <option>Collection 1</option>
        <option>Cat memes</option>
        <option>Kewl stuff</option>
        <option>Collection 1</option>
        <option>Cat memes</option>
        <option>Kewl stuff</option>
        <option>Collection 1</option>
        <option>Cat memes</option>
        <option>Kewl stuff</option>
      </select>
      <button class="btn">
        <i class="material-icons">library_add</i>
      </button>
    </div>

    <h4>Metadata</h4>
    <div class="well metadata-metadata-well">
      <ul>
        <li>
          <strong>Filename</strong>
          <span>{{ asset?.title }}</span>
        </li>
        <li>
          <strong>Format</strong>
          <span>{{ asset?.format }}</span>
        </li>
        <li>
          <strong>Dimensions</strong>
          <span>{{ asset?.dimensions?.width }} x {{ asset?.dimensions?.height }}</span>
        </li>
        <li>
          <strong>File size</strong>
          <span>{{ asset?.size | fileSize }}</span>
        </li>
      </ul>
    </div>

    <h4>Rating</h4>
    <rating [rating]="asset?.rating" (ratingChange)="setRating($event)"></rating>

    <h4>Actions</h4>
    <div class="metadata-actions">
      <div class="btn" (click)="editTags()"><i class="fa fa-tag"></i></div>
      <div class="btn btn-warning" (click)="confirmDelete()"><i class="fa fa-trash"></i></div>
      <!--<div class="btn" (click)="generateThumbnail()">Generate Thumbnail</div>-->
    </div>
  </div>
</div>

<modal-confirm #deleteModal [title]="'Confirm Delete'" (onConfirm)="deleteImage(true)">
  <p>Do you really want to delete the image?</p>
</modal-confirm>

<modal-confirm #editTagsModal [title]="'Edit Tags'" [confirmBtn]="'Update Tags'" (onConfirm)="updateAsset()" (onCancel)="cancelEditTags()">
  <div class="tag-container">
    <h4>Select tags</h4>
    <div class="tag-btn-list">
      <div class="tag active" *ngFor="let tag of selectedTags" (click)="toggleTag(tag)">
        {{ tag.title }}
      </div>
      <div class="tag" *ngFor="let tag of tags" (click)="setTag(tag)">
        {{ tag.title }}
      </div>
    </div>
  </div>

  <div class="create-tag">
    <h4>Create tag</h4>
    <form (ngSubmit)="createTag()">
      <input class="tag-input" id="tagTitle" name="tagTitle" [(ngModel)]="tag.title" placeholder="title" />
    </form>
  </div>
</modal-confirm>
