
<div class="panel">
  <h4>Image</h4>
  <div *ngIf="!url" class="image-upload">
    <p>Select asset</p>
    <file-upload (image)="setImageData($event)" (url)="setPathData($event)"></file-upload>
  </div>

  <div *ngIf="url" class="image-container">
    <img *ngIf="url" mat-card-image [src]="url" alt="Image source: {{ path }}">
  </div>
</div>

<div class="panel">
  <div class="create-category">
    <div class="panel sub-panel">
      <span class="panel-header">Create category</span>
      <form (ngSubmit)="createCategory()">
        <input class="category-input" id="categoryTitle" name="categoryTitle" [(ngModel)]="category.title" placeholder="title" />
      </form>
    </div>
  </div>

  <div class="category-container">
    <div class="panel sub-panel">
      <span class="panel-header">Selection category</span>

      <div class="category-btn-list">
        <div class="tag category-tag"
          [style.background-image]="'url(' + category.icon + ')'"
          [class.active]="category == selectedCategory"
          *ngFor="let category of categories"
          (click)="setCategory(category)">
          {{ category.title }}
        </div>
      </div>
    </div>
  </div>

  <div class="tag-container">
    <div class="panel sub-panel">
      <span class="panel-header">Select tags</span>
      <div class="tag-btn-list">
        <div class="tag active" *ngFor="let tag of selectedTags" (click)="toggleTag(tag)">
          {{ tag.title }}
        </div>
        <div class="tag" *ngFor="let tag of tags" (click)="setTag(tag)">
          {{ tag.title }}
        </div>
      </div>
    </div>
  </div>

  <div class="create-tag">
    <div class="panel sub-panel">
      <span class="panel-header">Create tag</span>
      <form (ngSubmit)="createTag()">
        <input class="tag-input" id="tagTitle" name="tagTitle" [(ngModel)]="tag.title" placeholder="title" />
      </form>
    </div>
  </div>

  <div class="rating-container">
    <div class="panel sub-panel">
      <span class="panel-header">Rating</span>
      <rating [(rating)]="asset.rating"></rating>
    </div>
  </div>

  <button class="btn btn-large btn-save" (click)="storeAsset()">
    Save Image
  </button>
</div>
