<div class="ac-create-image">
  <div class="ac-card">
    <h4>Image</h4>
    <div *ngIf="!url" class="ac-card-content">
      <p>Select asset</p>
      <file-upload (image)="setImageData($event)" (url)="setPathData($event)"></file-upload>
    </div>

    <div *ngIf="url" class="ac-card-content">
      <img *ngIf="url" mat-card-image [src]="url" alt="Image source: {{ path }}">
    </div>
  </div>

  <div class="ac-card">
    <h4>Select category</h4>
    <div class="category-btn-list">
      <div class="category-btn" [style.background-image]="'url(' + category.icon + ')'" *ngFor="let category of categories">
        {{ category.title }}
      </div>
    </div>
  </div>
</div>
