<div class="image-container">
  <img [src]="sanitize(asset.url)" >
</div>

<div class="metadata-container" [class.open]="showMetadata">
  <div class="toggle-metadata" (click)="toggleMetadata()">
    <i class="fa" [class.fa-chevron-left]="!showMetadata" [class.fa-chevron-right]="showMetadata"></i>
  </div>

  <h4>Category</h4>
  <div class="category btn" (click)="gotoCategory(category)">
    {{ category.title }}
  </div>

  <h4>Tags</h4>
  <div class="tags">
    <span *ngFor="let tag of selectedTags">{{ tag.title }}</span>
  </div>
  <div class="btn">Edit tags</div>

  <div class="btn btn-warning" (click)="deleteImage(true)">Delete Image</div>
  <div class="btn" (click)="generateThumbnail()">Generate Thumbnail</div>
</div>
