<div class="title-bar">
  <div class="icon-title">
    <i class="material-icons">ac_unit</i>
    <span> Art Companion</span>
  </div>

  <div class="title-bar-btns">
    <div class="btn" (click)="minimizeApp()">
      <i class="fa fa-window-minimize"></i>
    </div>
    <div *ngIf="!isMaximized" class="btn" (click)="maximizeApp()">
      <i class="fa fa-window-maximize"></i>
    </div>
    <div *ngIf="isMaximized" class="btn" (click)="restoreApp()">
      <i class="fa fa-window-restore"></i>
    </div>
    <div class="btn btn-warning" (click)="quitApp()">
      <i class="fa fa-window-close-o"></i>
    </div>
  </div>
</div>

<div class="container">
  <ac-sidebar (navigate)="navigateTo($event)" class="open"></ac-sidebar>

  <div class="content">
    <router-outlet></router-outlet>
    <status-bar></status-bar>
  </div>

  <toast></toast>
  <tooltip-content></tooltip-content>
</div>
