<div class="panel sketch-panel">
  <h4>Sketch Setup</h4>

  <div class="well sketch-well">
    <table class="sketch-table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Series</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sketch of sketches">
          <td>{{ sketch.title }}</td>
          <td>{{ sketch.series.length }}</td>
          <td>

          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="create-sketch-setup">
    <button class="btn" (click)="openCreateSketch()">Create New Sketch Setup</button>
  </div>
</div>

<modal-confirm #createSketch [title]="'Create Sketch'" [confirmBtn]="'Save series'">
  <div class="create-modal">
    <input type="text" placeholder="Sketch title" />

    <div class="panel sub-panel">
      <span class="panel-header">Source</span>
      <div class="source-selection">
        <div class="select-source-buttons">
          <button class="btn" [class.active]="newSketch.assetSource == 0" (click)="setSourceType(0)">Category / Tag</button>
          <button class="btn" [class.active]="newSketch.assetSource == 2" (click)="setSourceType(2)">Collection</button>
        </div>
        <div *ngIf="newSketch.assetSource == 0 || newSketch.assetSource == 1" class="well source-well">
          <div *ngIf="!selectedCategory">
            <div class="tag" *ngFor="let category of categories" (click)="setCategory(category)">{{ category.title }}</div>
          </div>

          <div *ngIf="selectedCategory">
            <div class="tag active" (click)="toggleCategory(category)">{{ selectedCategory.title }}</div>
            <div class="tag active" *ngFor="let tag of selectedTags" (click)="toggleTag(tag)">{{ tag.title }}</div>
            <div class="tag" *ngFor="let tag of tags" (click)="setTag(tag)">{{ tag.title }}</div>
          </div>
        </div>

        <div class="collection-selection" *ngIf="newSketch.assetSource == 2">
          <select [(ngModel)]="newSketch.assetSourceId">
            <option [ngValue]="null">- Choose Collection -</option>
            <option *ngFor="let collection of collections" [ngValue]="collection._id">{{ collection.title }}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="panel sub-panel">
      <span class="panel-header">Series</span>
      <div class="well series-well">
        <table class="series-table">
          <thead>
            <tr>
              <th>Time</th>
              <th>Number Images</th>
              <th>Filters</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let section of newSketch.series">
              <td>{{ section.timePerAsset | duration }}</td>
              <td>{{ section.numberAssets }}</td>
              <td>
                <i *ngIf="section.flipHorizontal" class="material-icons">flip</i>
                <i *ngIf="section.monochrome" class="material-icons">filter_b_and_w</i>
                <i *ngIf="section.grid" class="material-icons">grid_on</i>
              </td>
              <td>
                <button class="btn"><i class="material-icons">edit</i></button>
                <button class="btn btn-warning"><i class="material-icons">delete</i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="series-inputs">
        <div class="icon-input">
          <i class="material-icons">timer</i>
          <select [(ngModel)]="newSeries.timePerAsset">
            <option [ngValue]="10">10 Seconds</option>
            <option [ngValue]="30">30 Seconds</option>
            <option [ngValue]="45">45 Seconds</option>
            <option [ngValue]="60">1 Minute</option>
            <option [ngValue]="120">2 Minutes</option>
            <option [ngValue]="300">5 Minutes</option>
            <option [ngValue]="600">10 Minutes</option>
            <option [ngValue]="1200">20 Minutes</option>
            <option [ngValue]="1800">30 Minutes</option>
          </select>
        </div>

        <div class="icon-input">
          <i class="material-icons">photo_library</i>
          <input type="number" [(ngModel)]="newSeries.numberAssets" placeholder="Amount of assets">
        </div>

        <div class="tag tag-toggle" [class.active]="newSeries.flipHorizontal" (click)="toggleFlipHorizontal()">
          <i class="material-icons">flip</i>
        </div>
        <div class="tag tag-toggle" [class.active]="newSeries.monochrome" (click)="toggleMonochrome()">
          <i class="material-icons">filter_b_and_w</i>
        </div>
        <div class="tag tag-toggle" [class.active]="newSeries.grid" (click)="toggleGrid()">
          <i class="material-icons">grid_on</i>
        </div>
      </div>

      <button class="btn btn-series" (click)="addSeries()">Add to series</button>
    </div>
  </div>
</modal-confirm>
