<div class="panel sketch-panel">
  <h4>Sketch Setup</h4>

  <div class="well sketch-well">
    <table class="sketch-table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Total Time</th>
          <th>Series</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sketch of sketches">
          <td (click)="gotoSketch(sketch)">
            <i class="material-icons">play_arrow</i>
            <div>{{ sketch.title }}</div>
          </td>
          <td>{{ sketch.series | totalTime | duration }}</td>
          <td>{{ sketch.series.length }}</td>
          <td>
            <button class="btn" (click)="openEditSketch(sketch)"><i class="material-icons">edit</i></button>
            <button class="btn btn-warning" (click)="deleteSketch(sketch)"><i class="material-icons">delete</i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="create-sketch-setup">
    <button class="btn btn-large" (click)="openCreateSketch()">Create New Sketch Setup</button>
  </div>
</div>

<modal-confirm #createSketchModal [title]="'Create Sketch'" [confirmBtn]="'Save series'" (onConfirm)="createSketchForm.save()" (onCancel)="clearSketch()">
  <sketch-form #createSketchForm [sketch]="newSketch" (onSave)="createSketch($event)"></sketch-form>
</modal-confirm>

<modal-confirm #editSketchModal [title]="'Edit Sketch'" [confirmBtn]="'Update series'" (onConfirm)="editSketchForm.save()" (onCancel)="clearEditSketch()">
  <sketch-form *ngIf="editSketch" #editSketchForm [sketch]="editSketch" (onSave)="updateSketch($event)"></sketch-form>
</modal-confirm>
