<div class="panel" style="flex: 1 1 auto">
  <h1>Typography</h1>
  <h3>Headers</h3>
  <h1>Header 1</h1>
  <h2>Header 2</h2>
  <h3>Header 3</h3>
  <h4>Header 4</h4>
  <p>
    Paragraph with some text, we have <strong>Strong text</strong> and we have <small>Small text</small>, and this is how a <a href="#">link looks</a> Great huh!?
  </p>
</div>

<div class="panel" style="flex: 1 1 auto">
  <h1>Form</h1>
  <p>Here we list the elements that can be seen in the various forms in the application.</p>
  <h3>Buttons</h3>
  <button class="btn">Ordinary button</button>
  <button class="btn btn-primary">Primary button</button>
  <button class="btn btn-warning">Warning button</button>
  <h3>Tags</h3>
  <span class="tag">Normal tag</span>
  <span class="tag active">Active tag</span>
  <h3>Input</h3>
  <input type="text" placeholder="Text input" />
  <input type="text" placeholder="Disabled input" disabled="disabled" />
  <input type="checkbox" /> Checkbox input
  <select>
    <option>Select box</option>
    <option>A option</option>
  </select>
</div>

<div class="panel" style="flex: 1 1 auto">
  <h1>Table</h1>
  <p>This is how we render tables in art companion</p>

  <table>
    <thead>
      <tr>
        <th>Test</th>
        <th>Info</th>
        <th>Something</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>It's the body</td>
        <td>We're inside it now</td>
        <td>Good for data listing</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="panel" style="flex: 1 1 auto">
  <h1>Toasts and Modals</h1>
  <p>Here we test out the different toasts and modals that we can use within the app</p>
  <h3>Modal</h3>
  <p>A modal needs to be opened by an action, this can be programatical or by user interaction, here follows a button that opens a modal</p>
  <button class="btn" (click)="modal.open()">Open Modal</button>
  <h3>Toast</h3>
  <p>The toast is a general purpouse notification interface that will tell the user that something is happening within the application, try it out!</p>
  <div class="tag-list">
    <div class="tag" [class.active]="toastType == 'success'" (click)="toastType = 'success'">Success</div>
    <div class="tag" [class.active]="toastType == 'info'" (click)="toastType = 'info'">Info</div>
    <div class="tag" [class.active]="toastType == 'error'" (click)="toastType = 'error'">Error</div>
    <div class="tag" [class.active]="toastType == 'progress'" (click)="toastType = 'progress'">Progress</div>
  </div>
  <button class="btn" (click)="showToast()">Cheerz!</button>
  <h3>Progress</h3>
  <progress-bar [maxValue]="100" [value]="progressValue"></progress-bar>
</div>

<modal [title]="'Modal title'" #modal>
  <p>Here we have a cool modal that we can use for a lot of things, like asking the user what he wants to do with thingamabobs and such</p>
  <p>The modal will be important when we ask the user things like if he really really really want's to remove a image</p>
  <p>Enjoy!</p>
</modal>
