<div class="filter">
  <div class="well filter-well">
    <div *ngIf="!selectedCategory">
      <div class="tag" *ngFor="let category of categories" (click)="setCategory(category)">
        {{ category.title }}
      </div>
    </div>

    <div *ngIf="selectedCategory">
      <div class="tag active" (click)="clearCategory()">
        {{ selectedCategory.title }}
      </div>

      <div class="tag active" *ngFor="let tag of selectedTags" (click)="toggleTag(tag)">
        {{ tag.title }}
      </div>

      <div class="tag" *ngFor="let tag of tags" (click)="setTag(tag)">
        {{ tag.title }}
      </div>
    </div>
  </div>
</div>

<image-grid #library [filter]="filter$ | async" (onNavigate)="gotoImage($event)" (onSelect)="selectedAssets = $event" (totalAssets)="areaCount = $event"></image-grid>

<div class="status-bar">
  <div class="value-container">
    <i class="material-icons" tooltip [tooltipText]="'Image count for library'">collections</i>
    <div class="value">
      {{ libraryCount }}
    </div>
  </div>

  <div class="value-container">
    <i class="fa fa-tag" tooltip [tooltipText]="'Image count for selected area'"></i>
    <div class="value">
      {{ areaCount }}
    </div>
  </div>

  <div class="seperator"></div>

  <div class="value-container">
    <span>View Options</span>
    <div class="btn" (click)="library.toggleRatings()">
      Toggle Ratings
    </div>
    <div class="btn" (click)="library.toggleSelection()">
      Toggle Selection
    </div>
  </div>

  <div class="seperator"></div>

  <div class="value-container">
    <span>Filter by rating: </span>
    <rating [rating]="filterRating" (ratingChange)="setRatingFilter($event)"></rating>
  </div>

  <div class="seperator"></div>

  <div class="value-container">
    <span>Batch Operations</span>
    <div class="btn" (click)="testAsset()" tooltip [tooltipText]="'Add selected images to quick collection'"><i class="material-icons">collections_bookmark</i></div>
    <div class="btn"><i class="material-icons" tooltip [tooltipText]="'Add images to collection'">collections</i></div>
    <div class="btn" (click)="batchTagging()" tooltip [tooltipText]="'Set tags for selected images'"><i class="fa fa-tag"></i></div>
    <div class="btn" tooltip [tooltipText]="'Save images to archived file'"><i class="fa fa-file-archive-o"></i></div>
    <div class="btn btn-warning" (click)="batchDelete()" tooltip [tooltipText]="'Delete images'"><i class="fa fa-trash"></i></div>
  </div>
</div>
