<div class="filter">
  <div class="well filter-well">
    <div *ngIf="!selectedCategory">
      <div class="tag" *ngFor="let category of categories" (click)="setCategory(category)">
        {{ category.title }}
      </div>
    </div>

    <div *ngIf="selectedCategory">
      <div class="tag active" (click)="clearCategory()">
        {{ selectedCategory.title }}
      </div>

      <div class="tag active" *ngFor="let tag of selectedTags" (click)="toggleTag(tag)">
        {{ tag.title }}
      </div>

      <div class="tag" *ngFor="let tag of tags" (click)="setTag(tag)">
        {{ tag.title }}
      </div>
    </div>
  </div>
  <!--

  <div class="panel sub-panel">
    <span class="panel-header center">Filter</span>
  </div>
  <div class="filters">
    <div class="panel sub-panel">
      <span class="panel-header center">View Options</span>
      <div class="btn-group flex-start">
        <div class="btn" [class.active]="showRatings" (click)="toggleRatings()">Toggle Ratings</div>
        <div class="btn" [class.active]="showSelection" (click)="toggleSelection()">Toggle Selection</div>
      </div>

    </div>

    <div class="panel sub-panel">
      <span class="panel-header center">Filter by Rating</span>
      <rating [rating]="filterRating" (ratingChange)="setRatingFilter($event)"></rating>
    </div>

    <div class="panel sub-panel">
      <span class="panel-header center">Batch Operations</span>
      <div class="btn-group flex-end">
        <div class="btn btn-batch" (click)="testAsset()"><i class="material-icons">collections_bookmark</i></div>
        <div class="btn btn-batch"><i class="material-icons">collections</i></div>
        <div class="btn btn-batch" (click)="batchTagging()"><i class="fa fa-tag"></i></div>
        <div class="btn btn-batch"><i class="fa fa-file-archive-o"></i></div>
        <div class="btn btn-batch btn-warning" (click)="batchDelete()"><i class="fa fa-trash"></i></div>
      </div>
    </div>
  </div>

  <div class="toggle-nav" (click)="toggleNavigation()">
    <i class="fa" [class.fa-chevron-up]="showNavigation" [class.fa-chevron-down]="!showNavigation"></i>
  </div>
  -->
</div>

<div class="library-container"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  [scrollWindow]="false"
  (scrolled)="onScroll()">

  <div class="asset" *ngFor="let asset of assets">
    <div *ngIf="showSelection" class="asset-selection">
      <input [ngModel]="asset.selected" type="checkbox">
    </div>

    <img *ngIf="asset.item.thumbnail" [src]="sanitize(asset.item.thumbnail)" (click)="gotoImage(asset)"/>

    <div *ngIf="showRatings" class="asset-rating">
      <rating [rating]="asset.item.rating" (ratingChange)="setRating(asset.item._id, $event)"></rating>
    </div>
  </div>

</div>
