<div class="category-selection">
  <div class="category-btn" [class.selected]="category == selectedCategory" *ngFor="let category of categories" (click)="setCategory(category)">
    <p>{{ category.title }}</p>
  </div>
</div>

<div class="tag-selection">
  <div class="tag-btn selected" *ngFor="let tag of selectedTags" (click)="toggleTag(tag)">
    <p>{{ tag.title }}</p>
  </div>

  <div class="tag-btn" *ngFor="let tag of tags" (click)="setTag(tag)">
    <p>{{ tag.title }}</p>
  </div>
</div>

<div class="library-container">
  <div class="asset" *ngFor="let asset of assets" (click)="gotoImage(asset._id)">
    <img [src]="sanitize(asset.url)" />
  </div>
</div>
