<div class="ac-card">
  <h4>Settings</h4>

  <ul>
    <li>
      <i class="fa fa-folder"></i>
      <p>Library Path: {{ libraryPath }}</p>
      <button class="btn" (click)="setLibraryPath()">Select</button>
    </li>
    <li>
      <i class="fa fa-folder"></i>
      <p>Seed Cetegories</p>
      <button class="btn" (click)="seedCategories()">Seed</button>
    </li>
    <li>
      <i class="fa fa-folder"></i>
      <p>Seed Assets</p>
      <button class="btn" (click)="seedAssets()">Seed</button>
    </li>
    <li>
      <i class="fa fa-folder"></i>
      <p>Seed Tags</p>
      <button class="btn" (click)="seedTags()">Seed</button>
    </li>
    <li>
      <i class="fa fa-folder"></i>
      <p>List Tags</p>
      <button class="btn" (click)="listTags()">List</button>
    </li>
    <li>
      <i class="fa fa-folder"></i>
      <p>List Categories</p>
      <button class="btn" (click)="listCategories()">List</button>
    </li>
    <li>
      <i class="fa fa-folder"></i>
      <p>List Categories</p>
      <button class="btn" (click)="listAssets()">List</button>
    </li>
  </ul>
</div>
