<h1 mat-dialog-title>Create tag</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput tabindex="1" placeholder="Title" [(ngModel)]="newTag.title">
  </mat-form-field>
  <mat-form-field>
    <input matInput tabindex="2" placeholder="Description" [(ngModel)]="newTag.description">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="newTag" tabindex="3">Create</button>
  <button mat-button (click)="close()" tabindex="-1">Cancel</button>
</div>
